<IfModule mod_rewrite.c>
    RewriteEngine On

    # Hapus trailing slash jika bukan folder
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Kirim semua permintaan ke index.php jika file atau folder tidak ditemukan
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>